{% extends 'base/layout.html' %}

{% block Header %}
{% endblock %}


{% block main %}

    <br>
    <br>
    <br>

    <hr>

    <div class="row text-center">
        <div class="col-12">
            <h1>کتاب خوانان</h1>
        </div>
    </div>

    <hr>

    <br>

    <div class="row text-center">
        <div class="col-12">
            <h3>کتاب‌خوانی، سفریست که هرگز به پایان نمی‌رسد و همیشه ما را به سوی جهان‌های جدید و ناشناخته می‌برد.</h3>
            <p>کارل ساگان</p>
        </div>
    </div>

    <br>
    <hr>

    <div class="row">
        <div class="col-6 text-left">
            <a>
                <p class="btn btn-success">ورود</p>
            </a>
        </div>
        <div class="col-6 text-right">
            <a>
                <p class="btn btn-primary">عضویت</p>
            </a>
        </div>
    </div>

{% endblock %}